html, body{
	padding: 0;
	margin: 0;
	background: lightblue;
}

.container{
	text-align: center;
	width: 100vw;
}
.row{
	text-align: center;
	margin:0;

}

#intro{
	position: absolute;
	background: lightblue;
	z-index: 999;
	text-align: center;
}
#intro h1{
	font-size: 100px;
	line-height: 100px;
}
#smallGiles, #smallGiles img{
		height: 250px;
	}
#intro ul{
	padding: 15px;
	font-size: 24px;

}
#intro button{
	height: 100px;
	width: 50%;
	font-size: 28px;
}
#introHolder{
	padding: 15px 0;
}
#introHolder img{
	height: 100px;
}
#bigGiles{
	display: none;
}


#intro{
	display:none;
}

#gameContent{
	display: unset;
}

/*
/*game elements*/

#marquee{
	border: 1px solid black;
	background: lightpink;
	height: 100vw;
	z-index: 1;
	padding: 8.3333vw;
	overflow: auto;
}
#bulbs{
	position: absolute;
	left:0;
	top: 0;
	z-index: 2;
	margin: 0;
	padding: 0;
}

#bulbs *{
	margin: 0;
	padding: 0;
}

#marquee h1 {
	font-size: 24px;
}
#marquee ul{
	text-align: none;
}
#marquee li {
	font-size: 16px;
	line-height: 24px;
}
#buffyPic{
	position: relative;
	height: 28vh;
	left:-15vw;
	padding:1vh 0;
}
#quizDemonPic{
	position: relative;
	height: 28vh;
	right:-15vw;
	padding:1vh 0;
}

#timer{
	border:1px solid black;
	background: lightyellow;
	padding: 1vh;
	height: 17vh;
}
.timerPic{
	height: 15vh;
	position: absolute;
}
#demonPic{
	left: 0vw;
	z-index: 2;
}
#friendPic{
	left: 85vw;
	z-index: 1;
}




/*Portrait phone*/
@media (max-width: 639px) and (min-width: 1px){
	/*regular styles should be applied*/
}

/*landscape phone*/
@media (max-width: 767px) and (min-width: 640px){
	/*Giles needs to be smaller on the intro screen*/
	#smallGiles, #smallGiles img{
		height: 200px;
	}

}
/*portrait iPad*/
@media (max-width: 1023px) and (min-width: 768px){
}
/*desktop and lansdcape iPad*/
@media (min-width: 1023px){
	#bigGiles{
		display: unset;
	}
	#smallGiles{
		display: none;
	}


	#intro h1{
		font-size: 50px;
	}
	#intro ul{
		font-size: 16px;
	}
	#intro button{
		height: 50px;
		font-size: 25px;
	}
	#introHolder img{
		height: 200px;
	}

	#marquee{
		border: 1px solid black;
		background: lightpink;
		height: 50vh;
	}
}