html, body{
	padding: 0;
	margin: 0;
	background: lightblue;
}

.container{
	text-align: center;
	width: 100vw;
}
.row{
	text-align: center;
	margin:0;

}

#intro{
	position: absolute;
	background: lightblue;
	z-index: 999;
	text-align: center;

}
#intro h1{
	font-size: 100px;
	line-height: 100px;
}
#smallGiles, #smallGiles img{
		height: 250px;
	}
#intro ul{
	padding: 15px;
	font-size: 24px;

}
#intro button{
	height: 100px;
	width: 50%;
	font-size: 28px;
}
#introHolder{
	padding: 15px 0;
}
#introHolder img{
	height: 100px;
}
.flipMe{
	transform: scaleX(-1);
}
#bigGiles{
	display: none;
}


#intro{
	display:unset;
}

#gameContent{
	display: unset;
}

/*
/*game elements*/

#bigMarquee{
	border: 1px solid black;
	background: lightpink;
	padding: 0;
}
.bulb{
}
#bigMarquee .col-xs-1{
	padding: 0;
}
#marquee{
	overflow: auto;
	padding:0 15px;
}
#marquee h1 {
	font-size: 24px;
}
#marquee ul{
	text-align: left;
}
#marquee li {
	font-size: 16px;
	line-height: 24px;
}

#answerMarquee{
	display: none;
	overflow:auto;
}
.rotateMe{
	transform: rotate(90deg);
}

.answerFriend{
	height: 100px;
}

#stage{
	margin-bottom: 17vh;
	margin-top: 5vh;
}
#buffyPic{
	height: 20vh;
}
#quizDemonPic{
	height: 20vh;
	float:right;

}

#timer{
	position: fixed;
	border:1px solid black;
	background: lightyellow;
	padding: 1vh 0;
	height: 17vh;
	bottom: 0;
	width: 100%;
	left:0;
}
.timerPic{
	height: 15vh;
	position: absolute;
}
#demonPic{
	left: 0vw;
	z-index: 2;
}
#friendPic{
	left: 85vw;
	z-index: 1;
}




/*Portrait phone*/
@media (max-width: 639px) and (min-width: 1px){
	/*regular styles should be applied*/
}

/*landscape phone*/
@media (max-width: 767px) and (min-width: 639px){
	/*Giles needs to be smaller on the intro screen*/
	#smallGiles, #smallGiles img{
		height: 200px;
	}
	#marquee{
		height: 180px;
	}

}
/*portrait iPad*/
@media (max-width: 1023px) and (min-width: 768px){
	
	#marquee li{
		font-size: 26px;
	}
	#marquee h1{
		font-size: 40px;
	}
	#marquee{
		height: 30vh;
	}
}
/*desktop and lansdcape iPad*/
@media (min-width: 1023px){
	#bigGiles{
		display: unset;
	}
	#smallGiles{
		display: none;
	}

	
	#intro{
		height: 100vh;
		width: 100vw;
	}

	#intro h1{
		font-size: 50px;
	}
	#intro ul{
		font-size: 16px;
	}
	#intro button{
		height: 50px;
		font-size: 25px;
	}
	#introHolder img{
		height: 200px;
	}

	#gameContent{
		height: 100vh;
	}
	#stage{
		margin-bottom: 0;
	}
	#buffyPic{
		height: 200px;
		bottom: 20vh;
		position: relative;
	}
	#quizDemonPic{
		height: 200px;
		float:right;
		bottom: 20vh;
		position: relative;

	}
	#marquee{
		height: 40vh;
	}

	#timer{
		bottom: 0;
		position: absolute;
	}
}